[user]
	name = Jordan Cohen
	email = hypergig@gmail.com

[core]
	editor = "vim -c 'set spell spelllang=en_us spellcapcheck='"
	excludesFile = ~/.gitignore

[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
	top = for-each-ref --count=10 --sort='-committerdate:iso8601' --format='%(committerdate:iso8601)%09%(refname)' refs/heads
	ammend = commit --amend --no-edit --all
	force = push --force
