[user]
	name = Jordan Cohen
	email = hypergig@gmail.com

[core]
	editor = "vim -c 'set spell spelllang=en_us spellcapcheck='"
	excludesfile = /Users/jordan/.gitignore

[pull]
	rebase = false
[init]
	defaultBranch = main
