
set $laptop_screen eDP-1
set $desktop_screen DP-1

# background
set $background ~/repos/workstation/config/backgrounds/solarizedBig.png
output * bg $background fill

# defaults
output $laptop_screen scale 2
output $desktop_screen res 5120x1440

# clamshell
bindswitch --reload --locked lid:on output $laptop_screen disable
bindswitch --reload --locked lid:off output $laptop_screen enable
