
set $laptop_screen eDP-1
set $desktop_screen DP-1

# background
set $background_big ~/repos/workstation/config/backgrounds/solarizedBig.png
set $background_small ~/repos/workstation/config/backgrounds/solarized.png

# defaults
output $laptop_screen {
  scale 2
  bg $background_small fill
}

output $desktop_screen {
  scale 1
  res 5120x1440
  bg $background_big fill
}

# clamshell
bindswitch --reload --locked lid:on output $laptop_screen disable
bindswitch --reload --locked lid:off output $laptop_screen enable
