# scale
output eDP-1 scale 2

# background
set $background ~/repos/workstation/config/backgrounds/solarized.png
output * bg $background fill


# float overrides
unbindsym $mod+space
bindsym $mod+Shift+t floating toggle

unbindsym $mod+Shift+space
bindsym $mod+t focus mode_toggle


# launcher
unbindsym $mod+d
set $menu "rofi -i -modi drun,run,window -show drun -theme solarized_alternate"
bindsym $mod+Space exec $menu


# idle and lock
set $swaylock swaylock -i $background -s fill
exec exec swayidle -w \
         timeout 600 '$swaylock -f' \
         timeout 3600 'swaymsg "output * dpms off"' \
              resume 'swaymsg "output * dpms on"' \
         before-sleep '$swaylock -f'
bindsym $mod+Ctrl+l exec $swaylock


# clamshell
# TODO - make this better
set $clamshell ~/repos/workstation/lib/clamshell.sh
bindswitch --locked lid:toggle exec $clamshell
bindsym --locked $mod+x exec $clamshell
# TODO - figure out why this crashes
#`exec_always $clamshell


# media and brightness keys
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set +5%
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +3%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -3%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle


# input
input * {
    natural_scroll enabled
    accel_profile flat
    middle_emulation disabled
    tap enabled
    repeat_delay 250
}


#term
set $term alacritty
bindsym --no-warn $mod+Return exec $term


# style

set $default_font pango:DejaVu Sans Mono, FontAwesome 9

# https://ethanschoonover.com/solarized/#usage-development
# solarized colors
set $base03  #002b36
set $base02  #073642
set $base01  #586e75
set $base00  #657b83
set $base0   #839496
set $base1   #93a1a1
set $base2   #eee8d5
set $base3   #fdf6e3
set $yellow  #b58900
set $orange  #cb4b16
set $red     #dc322f
set $magenta #d33682
set $violet  #6c71c4
set $blue    #268bd2
set $cyan    #2aa198
set $green   #859900
set $trans   #00000000


# class                 border     background text       indicator  child_border
client.focused          $orange    $base03    $base1     $yellow    $orange
client.focused_inactive $orange    $base03    $base1     $trans     $trans
client.unfocused        $base02    $base03    $base0     $trans     $trans
client.urgent           $red       $red       $base0     $trans     $trans


# window settings
default_border pixel 1
font $default_font
gaps inner 2
gaps outer 2
smart_borders on
smart_gaps on
title_align center
titlebar_border_thickness 1


# bar
bar bar-0 swaybar_command waybar


# start mako
exec exec mako \
            --anchor=top-center \
            --background-color=$base02 \
            --border-color=$orange \
            --border-size=1 \
            --default-timeout=5000 \
            --font='$default_font' \
            --text-color=$base1


# theme
set $gnome-schema org.gnome.desktop.interface
exec_always {
    gsettings set $gnome-schema gtk-theme 'Solarized-Dark-Orange-GTK'
    #gsettings set $gnome-schema icon-theme 'TODO'
    #gsettings set $gnome-schema cursor-theme 'TODO'
}


# tab for focus
bindsym Alt+Tab focus right
bindsym Alt+Shift+Tab focus left
bindsym $mod+Tab focus right
bindsym $mod+Shift+Tab focus left


# focus child
bindsym $mod+z focus child


# screenshot
bindsym Print exec exec ~/repos/workstation/lib/screenshot.sh
bindsym Shift+Print exec exec ~/repos/workstation/lib/screenshot.sh full
