# background
output * bg ~/repos/workstation/config/backgrounds/solarized.png fill


# float overrides
unbindsym $mod+space
bindsym $mod+Shift+t floating toggle

unbindsym $mod+Shift+space
bindsym $mod+t focus mode_toggle


# launcher
unbindsym $mod+d
set $menu "rofi -i -modi drun,run,window -show drun"
bindsym $mod+Space exec $menu
