# scale
output eDP-1 scale 2

# background
set $background ~/repos/workstation/config/backgrounds/solarized.png
output * bg $background fill


# float overrides
unbindsym $mod+space
bindsym $mod+Shift+t floating toggle

unbindsym $mod+Shift+space
bindsym $mod+t focus mode_toggle


# launcher
unbindsym $mod+d
set $menu "rofi -i -modi drun,run,window -show drun"
bindsym $mod+Space exec $menu


# idle and lock
set $swaylock swaylock -i $background -s fill
exec exec swayidle -w \
         timeout 600 '$swaylock -f' \
         timeout 300 'swaymsg "output * dpms off"' \
              resume 'swaymsg "output * dpms on"' \
         before-sleep '$swaylock -f'
bindsym $mod+Ctrl+l exec $swaylock


# clamshell
# TODO - make this better
bindswitch --locked lid:toggle exec ~/repos/workstation/lib/clamshell.sh
bindsym --locked $mod+z exec ~/repos/workstation/lib/clamshell.sh


# media and brightness keys
# TODO - fix brightnessctl so non-root works
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set +5%
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ $(printf "%s\n" 100 $(($(pacmd dump-volumes | grep -m1 Sink | grep -Po '\d+(?=%)' | head -n1) + 3)) | sort -g | head -n1)%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -3%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle


# input
input * natural_scroll enabled
input * accel_profile flat


#term
set $term alacritty
bindsym --no-warn $mod+Return exec $term


# style
gaps inner 5
smart_gaps on
default_border none


# theme
set $gnome-schema org.gnome.desktop.interface
exec_always {
    gsettings set $gnome-schema gtk-theme 'Solarized-Dark-GTK'
    #gsettings set $gnome-schema icon-theme 'TODO'
    #gsettings set $gnome-schema cursor-theme 'TODO'
}
